<!DOCTYPE html>
<html lang="en">

<body>
  <div class="server-feedback">
    <form action="/" method="GET">
      <div class="row">
        <div class="col s10 center-align">
          <div class="card teal lighten-1">
            <div class="card-content white-text">
              <span class="card-title">Success</span>
              <p>You form successfully has been send.</p>
            </div>
            <div class="card-action">
              <a href="/">back to form</a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</body>

</html>