<!DOCTYPE html>
<html lang="en">

<body>
  <div class="stages">
    <ul class="links">
      <li class="link">
        <a href="/stage1">Stage1</a>
      </li>
      <li class="link">
        <a href="/stage2">Stage2</a>
      </li>
    </ul>
  </div>
</body>

</html>