<!DOCTYPE html>
<html lang="en">

<body>
  <div class="stage1-wrapper">
    <form action="/stage1" method="POST">
      <div class="input-field">
        <input type="text" name="name">
        <label>Name</label>
      </div>
      <div class="input-field">
        <input type="text" name="phone">
        <label>Phone</label>
      </div>
      <div class="input-field">
        <input type="text" name="age">
        <label>Age</label>
      </div>
      <div class="field">
        <input type="file" name="photo">
        <label>Photo</label>
      </div>
      {{!-- <div class="field">
        <input type="file" name="resume">
        <label>Resume</label>
      </div> --}}
      <button type="submit" class="btn">Send</button>
    </form>
  </div>
</body>

</html>